@*
    Change security answer.
*@
@model OverviewViewModel

<div style="padding-top: 30px; padding-bottom: 40px">

    <h2 style="font-weight:bold;"><u>Profile - Change Security Answer</u></h2>
    <br />

    @{
        if (Model.OverUsersModel.Balance.Contains('-'))
        {
            <h3 style="color:red;"><i>Balance: -$@Model.OverUsersModel.Balance.Substring(1)</i></h3>
        }
        else
        {
            <h3><i>Balance: $@Model.OverUsersModel.Balance</i></h3>
        }
    }
    <br />
    <br />
    <br />

    <div class="text-center">
        <div style="border-style: double; width: 380px; margin: 0 auto">

            <table style="border-collapse: separate; text-align: left;" cellpadding="20" cellspacing="0">
                @using (Html.BeginForm("FormChangeSecureAns", "Overview", FormMethod.Get))
                {
                    @Html.HiddenFor(m => m.OverUsersModel.UserId);
                    @Html.HiddenFor(m => m.OverUsersModel.UserName);
                    @Html.HiddenFor(m => m.OverUsersModel.Balance);
                    <tr>
                        <th style="padding-bottom: 0;">Security Question</th>
                    </tr>
                    <tr>
                        <td align="left" style="font-size: small;">Most memorable or favorite childhood destination. (place, vacation, field trip, etc.)</td>
                    </tr>
                    <tr>
                        <th style="padding-bottom: 0;">Enter New Security Answer</th>
                    </tr>
                    <tr>
                        <th>@Html.TextBoxFor(m => m.OverUsersModel.SecurityAnswer, new { style = "width:330px;" })</th>
                    </tr>
                    <tr>
                        <td style="padding-left: 250px; padding-top: 0;"><input style="width: 100px" type="submit" value="Submit" /></td>
                    </tr>
                }
            </table>

            <table style="border-collapse: separate; text-align: left;" cellpadding="20" cellspacing="0">
                <tr>
                    @{
                        if (Model.OverUsersModel.Message == "Your security answer has successfully been updated.")
                        {
                            <td readonly style="color: green; border: none; font-weight: bold;">@Model.OverUsersModel.Message</td>
                        }
                        else
                        {
                            <td readonly style="color: red; border: none; font-weight: bold;">@Model.OverUsersModel.Message</td>
                        }
                    }

                </tr>
            </table>

            <table style="border-collapse: separate; text-align: left;" cellpadding="20" cellspacing="0">
                <tr>

                    @using (Html.BeginForm("Profile", "Overview", FormMethod.Get))
                    {
                        <td hidden><input type="hidden" name="userName" value="@Model.OverUsersModel.UserName" /></td>
                        <td><input style="width: 150px" type="submit" value="Back to Profile" /></td>
                    }
                </tr>
            </table>
        </div>
    </div>


</div>
