@*@*
    Enter transaction
*@
@model OverviewViewModel

<div style="padding-top: 30px; padding-bottom: 40px">

    <h2><u>Activity Entry - Enter Transaction</u></h2>
    <br />

    @{
        if (Model.OverUsersModel.Balance.Contains('-'))
        {
            <h4 style="color:red;">Balance: -$@Model.OverUsersModel.Balance.Substring(1)</h4>
        }
        else
        {
            <h4>Balance: $@Model.OverUsersModel.Balance</h4>
        }
    }
    <br />
    <br />
    <br />
    <br />

    <div class="text-center" style="border-style:double; width: 605px; margin: 0 auto">

        @using (Html.BeginForm("FormEnterTrans", "Overview", FormMethod.Get))
        {
            @Html.HiddenFor(m => m.OverUsersModel.UserId);
            @Html.HiddenFor(m => m.OverUsersModel.UserName);
            @Html.HiddenFor(m => m.OverUsersModel.Balance);
            <table style="border-collapse: separate; padding-top: 12px; text-align:center;" cellpadding="15" cellspacing="0">
                <tr>
                    <th>Date</th>
                    <td>@Html.TextBoxFor(m => m.OverTransactionsModel.TransactionDate, new { @style = "height: 30px; font-size:small; color:black; line-height: 12px; text-align:center;", @type = "date", @class = "form-control datepicker", @Value = Model.OverTransactionsModel.TransactionDate.ToString("yyyy-MM-dd") })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>@Html.TextBoxFor(m => m.OverTransactionsModel.TransactionAmount, new { style = "width:230px;" })</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>@Html.TextBoxFor(m => m.OverTransactionsModel.TransactionType, new { style = "width:230px;", @readonly = true })</td>
                    <td>@Html.DropDownListFor(m => m.OverTransactionsModel.DropDownTypeSelection, Model.OverTransactionsModel.TransTypeOptions, new { style = "width:200px;", onchange = "getType()" })</td>
                </tr>
                <tr>
                    <th>Vendor</th>
                    <td>@Html.TextBoxFor(m => m.OverVendorsModel.VendorName, new { style = "width:230px;", @readonly = true })</td>
                    <td>@Html.DropDownListFor(m => m.OverVendorsModel.DropDownVenOption, Model.OverVendorsModel.AllVendorsSelect, new { style = "width:200px;", onchange = "getVendor()" })</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>@Html.TextBoxFor(m => m.OverCategoriesModel.CategoryName, new { style = "width:230px;", @readonly = true })</td>
                    <td>@Html.DropDownListFor(m => m.OverCategoriesModel.DropDownCatOption, Model.OverCategoriesModel.AllCategoriesSelect, new { style = "width:200px;", onchange = "getCategory()" })</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="padding-left: 150px;"><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }
        <table style="border-collapse: separate; border-spacing: 12px;" cellpadding="15" cellspacing="0">
            @{
                if (Model.Messages.Count > 0)
                {
                    foreach (var item in Model.Messages)
                    {
                        if (Model.CompletedTransaction.Count == 0)
                        {
                            <tr>
                                <td readonly style="color:red; border:none; font-weight:bold; text-align:left;">@item</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td readonly style="color: green; border: none; font-weight: bold; text-align: left;">@item</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                }
            }
        </table>
        @{
            if (Model.CompletedTransaction.Count > 0)
            {
                <div style="padding-left: 20px">
                    <table class="table table-bordered" cellpadding="0" cellspacing="0" style="width: 559px; font-size: x-small; ">
                        <tr>
                            <th style="width:20%">Date</th>
                            <th style="width:20%">Vendor</th>
                            <th style="width:20%">Category</th>
                            <th style="width:20%">Type</th>
                            <th style="width:20%">Amount</th>
                        </tr>
                        <tr>
                            @for (int i = 0; i < Model.CompletedTransaction.Count; i++)
                            {
                                if (i == Model.CompletedTransaction.Count - 1)
                                {
                                    if (Model.CompletedTransaction[i - 1] == "Expense")
                                    {
                                        <td>-$@Model.CompletedTransaction[i]</td>
                                    }
                                    else
                                    {
                                        <td>$@Model.CompletedTransaction[i]</td>
                                    }
                                }
                                else
                                {
                                    <td>@Model.CompletedTransaction[i]</td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            }
        }
        @using (Html.BeginForm("ActivityEntry", "Overview", FormMethod.Get))
        {
            <table style="border-collapse: separate; border-spacing: 12px;" cellpadding="10" cellspacing="0">
                <tr>
                    <td hidden><input type="hidden" name="userName" value="@Model.OverUsersModel.UserName" /></td>
                    <td><input type="submit" value="Back to Activity Entry" /></td>
                </tr>
            </table>
        }

    </div>



</div>

<script type="text/javascript">

    function getVendor() {
        var id = '@Html.IdFor(x => x.OverVendorsModel.DropDownVenOption)';
        var dropdown = document.getElementById(id);
        var value = dropdown.options[dropdown.selectedIndex].value;

        var idText = '@Html.IdFor(x => x.OverVendorsModel.VendorName)';
        var textbox = document.getElementById(idText);
        if (value == "*ADD NEW VENDOR*") {

            textbox.removeAttribute('readonly');
            document.getElementById(idText).value = "";
        }
        else {
            textbox.setAttribute("readonly", "readonly");
            document.getElementById(idText).value = value;
        }
    }

    function getCategory() {
        var id = '@Html.IdFor(x => x.OverCategoriesModel.DropDownCatOption)';
        var dropdown = document.getElementById(id);
        var value = dropdown.options[dropdown.selectedIndex].value;

        var idText = '@Html.IdFor(x => x.OverCategoriesModel.CategoryName)';
        var textbox = document.getElementById(idText);
        if (value == "*ADD NEW CATEGORY*") {

            textbox.removeAttribute('readonly');
            document.getElementById(idText).value = "";
        }
        else {
            textbox.setAttribute("readonly", "readonly");
            document.getElementById(idText).value = value;
        }
    }

    function getType() {
        var id = '@Html.IdFor(x => x.OverTransactionsModel.DropDownTypeSelection)';
        var dropdown = document.getElementById(id);
        var value = dropdown.options[dropdown.selectedIndex].value;

        var idText = '@Html.IdFor(x => x.OverTransactionsModel.TransactionType)';

        document.getElementById(idText).value = value;
    }

</script>