@*
    Overview page. Home page for user after login.
*@
@model OverviewViewModel

<div style="padding-top: 30px; padding-bottom: 40px;">

    <div class="container">

        <div style="width: 650px; float: left;">

            <h1 style="font-weight:bold; font-size:45px;">Welcome @Model.OverUsersModel.FirstName</h1>
            <br />

            @{
                if (Model.OverUsersModel.Balance.Contains('-'))
                {
                    <h3 style="color:red;"><i>Balance: -$@Model.OverUsersModel.Balance.Substring(1)</i></h3>
                }
                else
                {
                    <h3><i>Balance: $@Model.OverUsersModel.Balance</i></h3>
                }
            }

            <br />
            <br />
            <br />
            <br />

            <div class="row">
                <div class="col">
                    <div id="chartContainerVendor" style="height:300px; width:300px;"></div>
                </div>
                <div class="col">
                    <div id="chartContainerCategory" style="height:300px; width:300px;"></div>
                </div>
            </div>

            <h5 style="font-weight:bold; padding-left:200px; padding-bottom:75px;">2023 Frequent Expenses</h5>

        </div>

        <div style="margin-left: 30px; float: left; width: 400px; padding-bottom: 75px; ">
            <div id="chartContainerType" style="width:340px; height:340px;"></div>
        </div>

    </div>


    <div class="container">
        <div class="row">
            <br />
        </div>

        <h5 style="font-weight:bold;">Latest Activity</h5>

        <table class="table table-bordered" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:20%">Date</th>
                <th style="width:20%">Vendor</th>
                <th style="width:20%">Category</th>
                <th style="width:20%">Type</th>
                <th style="width:20%">Amount</th>
            </tr>
            @{
                if (Model.OverTransactionsModel.TopFiveTransactions.Any())
                {
                    foreach (var item in Model.OverTransactionsModel.TopFiveTransactions)
                    {
                        <tr>
                            <td>@item.TransactionDate.Substring(0, 10)</td>
                            <td>@item.VendorName</td>
                            <td>@item.CategoryName</td>
                            <td>@item.TransactionType</td>
                            @if (item.TransactionType == "Expense" || item.TransactionType == "Adjustment Decrease")
                            {
                                <td>-$@item.TransactionAmount.ToString("0.00")</td>
                            }
                            else
                            {
                                <td>$@item.TransactionAmount.ToString("0.00")</td>
                            }
                        </tr>
                    }
                }
            }
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col" style="padding-top: 80px;">
                @{
                    var monthlyTitle = $"{DateTime.Now.Year} " + DateTime.Now.ToString("MMMM") + " Summary";
                    <h5 style="font-weight:bold;">@monthlyTitle</h5>
                }

                <div id="chartContainerMonthly" style="height:400px; width:520px"></div>
            </div>
            <div class="col" style="padding-top: 80px;">
                @{
                    var yearlyTitle = $"{DateTime.Now.Year} Yearly Summary";
                    <h5 style="font-weight: bold;">@yearlyTitle</h5>
                }

                <div id="chartContainerYearly" style="height:400px; width:520px"></div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    window.onload = function () {

        const d = new Date();
        let currentYear = d.getFullYear();
        /*const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        let nameMonth = month[d.getMonth()];*/

        CanvasJS.addColorSet("grayShades",
        [//colorSet Array

            "#404040",
            "#686868",
            "#888888",
            "#A9A9A9",
            "#C8C8C8",
            ]);

        var chartType = new CanvasJS.Chart("chartContainerType", {
            colorSet: "grayShades",
            //theme: "light2",
            //animationEnabled: true,
            title: {
                text: currentYear + " Activity Summary",
                horizontalAlign: "right",
                verticalAlign: "center",
                fontSize: 20,
                fontWeight: "bold",
                fontFamily: "arial",
            },
            legend: {
                maxWidth: 200,
                itemWidth: 80,
            },
            data: [
                {
                    type: "pie",
                    showInLegend: true,
                    legendText: "{x}",
                    percentFormatString: "#0.##",
                    yValueFormatString: "#0.00",
                    toolTipContent: "{x}: ${y} (#percent%)",
                    dataPoints: @Html.Raw(ViewBag.DataPointsTransType),
                }
            ]
        });
        chartType.render();

        var chartVendor = new CanvasJS.Chart("chartContainerVendor", {
            colorSet: "grayShades",
            title: {
                text: "Vendors",
                horizontalAlign: "right",
                verticalAlign: "center",
                fontSize: 20,
                fontWeight: "bold",
                fontFamily: "arial",
            },
            legend: {
                horizontalAlign: "left",
                verticalAlign: "center",
                itemWidth: 80,
            },
            data: [
                {
                    type: "doughnut",
                    showInLegend: true,
                    legendText: "{x}",
                    toolTipContent: "{x}: ${y}",
                    dataPoints: @Html.Raw(ViewBag.DataPointsVendorActivity),
                }
            ]
        });
        chartVendor.render();

        var chartCategory = new CanvasJS.Chart("chartContainerCategory", {
            colorSet: "grayShades",
            title: {
                text: "Categories",
                horizontalAlign: "right",
                verticalAlign: "center",
                fontSize: 20,
                fontWeight: "bold",
                fontFamily: "arial",
            },
            legend: {
                horizontalAlign: "left",
                verticalAlign: "center",
                itemWidth: 80,
            },
            data: [
                {
                    type: "doughnut",
                    showInLegend: true,
                    legendText: "{x}",
                    yValueFormatString: "#0.00",
                    toolTipContent: "{x}: ${y}",
                    dataPoints: @Html.Raw(ViewBag.DataPointsCategoryActivity),
                }
            ]
        });
        chartCategory.render();

        var chartMonth = new CanvasJS.Chart("chartContainerMonthly", {
            axisX: {
                interval: 1,
                title: "Date",
                titleFontWeight: "bold",
                labelFontSize: 10,
            },
            axisY: {
                title: "Activity Total",
                titleFontWeight: "bold",
                labelFormatter: function (e) {
                    if (String(e.value).includes("-")) {
                        return "-$" + String(e.value).substring(1);
                    }
                    return "$" + e.value;
                },
            },
            toolTip: {
                contentFormatter: function (e) {
                    if (String(e.entries[0].dataPoint.y).includes("-")) {
                        return e.entries[0].dataPoint.label + ": " + "-$" + String(e.entries[0].dataPoint.y).substring(1);
                    }
                    return e.entries[0].dataPoint.label + ": " + "$" + e.entries[0].dataPoint.y.toFixed(2);
                },
            },
            data: [
                {
                    type: "column",
                    color: "#707070",
                    dataPoints: @Html.Raw(ViewBag.DataPointsMonthDay),
                }
            ]
        });
        chartMonth.render();

        var chartYear = new CanvasJS.Chart("chartContainerYearly", {
            axisX: {
                interval: 1,
                title: "Month",
                titleFontWeight: "bold",
            },
            axisY: {
                title: "Activity Total",
                titleFontWeight: "bold",
                labelFormatter: function (e) {
                    if (String(e.value).includes("-")) {
                        return "-$" + String(e.value).substring(1);
                    }
                    return "$" + e.value;
                },
            },
            toolTip: {
                contentFormatter: function (e) {
                    if (String(e.entries[0].dataPoint.y).includes("-")) {
                        return e.entries[0].dataPoint.label + ": " + "-$" + String(e.entries[0].dataPoint.y).substring(1);
                    }
                    return e.entries[0].dataPoint.label + ": " + "$" + e.entries[0].dataPoint.y.toFixed(2);
                },
            },
            data: [
                {
                    type: "column",
                    color: "#707070",
                    dataPoints: @Html.Raw(ViewBag.DataPointsYearMonth),
                }
            ]
        });
        chartYear.render();

    };
</script>
